NEXT_PUBLIC_APP_NAME="Dashboard Grupo Municipal"
NEXT_PUBLIC_DEFAULT_ORG_SLUG="vox-majadahonda"
NEXT_PUBLIC_SUPABASE_URL="https://aylhnlyufejrhzvzkcbr.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF5bGhubHl1ZmVqcmh6dnprY2JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4Mjg2MTAsImV4cCI6MjA5NzQwNDYxMH0.MIQ1hrvo0nCcH--HJIUWd24xo_OsP_mwFDGF_kgSrDs"
SUPABASE_SERVICE_ROLE_KEY=""
OPENAI_API_KEY=""
N8N_WEBHOOK_BASE_URL=""
API_CLIENT_SECRET=""
